/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.folder-header {
    font-weight: bold;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.folder-header:hover {
    border-color: var(--interactive-accent);
}

.file-list {
    list-style-type: none;
    padding-left: 20px;
    margin: 5px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.view-content>.folder-item>.file-list {
    margin-left: 0;
    padding: 0;
}
.chapter-title {
    margin-left: 10px;
}
.chapter-title,
.folder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}
.chapter-title:hover,
.folder-header:hover {
    border-color: var(--interactive-accent);
}

.chapter-title>.deleteButton {
    display: none;
}
.chapter-title:hover>.deleteButton {
    display: flex;
}
.chapter-title>.word-count {
    display: block;
    font-size: 0.8em;
    opacity: 0.5;
}
.chapter-title:hover>.word-count {
    display: none;
}
.file-header,
.folder-name {
    display: flex;
    align-items: center;
    gap: 5px;
}
.folder-name svg,
.file-header svg {
    display: flex;
    align-items: center;
}
.deleteButton,
.tocButton>button {
    border: none;
    cursor: pointer;
    padding: 4px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    font-size: 1em;
}

.floating-button {
    position: absolute;
    box-sizing: border-box;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
    height: 35px;
}
.floating-button svg {
    width: 25px;
    height: 25px;
    stroke-width: 3;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

.modal-content>button {
    margin-left: 5px;
    float: right;
}

.modal-content>input {
    width: 250px;
}

.book-item {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1.5px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    aspect-ratio: 2/3;
    background-color: var(--tab-container-background);
    box-sizing: border-box;
}
.book-item:hover {
    border: 1.5px solid var(--interactive-accent);
}

.book-title {
    font-weight: bold;
    color: var(--inline-title-color);
    font-size: 1.5em;
    text-align: center;
    margin-top: 30%;
}

.book-type {
    font-style: italic;
    position: absolute;
    bottom: 10px;
    right: 0;
    color: var(--text-normal);
    background-color: var(--background-primary);
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
}

.book-count {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.book-list-container {
    padding: 30px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    height: max-content !important;
}

.pluginModal {
    margin-top: 0;
}

.input-label {
    margin-bottom: 10px;
}
.name-label {
    flex-grow: 1;
    margin-right: 20px;
}

.name-label> input {
    width: 100%;
}
.option-label {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-form {
    display: flex;
}

.desc-label {
    flex-grow: 2;
}
.inspiration-item {
    position: relative;
    background-color: var(--background-primary);
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.inspiration-item:hover {
    border: 2px solid var(--interactive-accent);
}

.inspiration-item>.file-title {
    font-size: 1.2em;
    font-weight: bold;
}
div[data-type="book-setting"]>.view-title {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
div[data-type="book-setting"]>.view-title svg {
    width: 20px;
    height: 20px;
    stroke-width: 3;
}

.setting-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.set-main-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.tabs-container {
    width: 50px;
    border-left: var(--divider-width) solid var(--divider-color);
    background-color: var(--ribbon-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tabs-bottom {
    margin-bottom: 17px;
}

.list-container {
    width: 150px;
    border-left: var(--divider-width) solid var(--divider-color);
}
.item-container {
    width: calc(100% - 200px);
}

.tab-button {
    width: max-content;
    height: max-content;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: var(--divider-width) solid var(--divider-color);
}
.tab-button svg {
    width: 20px;
    height: 20px;
}
.tab-button .tab-name {
    text-align: center;
    font-size: 10px;
}
.inspiration-textarea {
    margin-top: 10px;
}
.deleteButtonPlus {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 18px;
    height: 18px;
    display: none;
}
.deleteButtonPlus:hover svg {
    stroke: var(--interactive-accent);
}
.deleteButtonPlus svg {
    width: 18px;
    height: 18px;
}
.inspiration-item:hover >.deleteButtonPlus,
.book-item:hover >.deleteButtonPlus {
    display: block;
}

div[data-type="file-list-view"] ul, ol {
    list-style-type: none; /* 去除项目符号或编号 */
    padding: 0;
}
div[data-type="file-list-view"] .outline-title {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}
div[data-type="file-list-view"] .outline-title:hover {
    border-color: var(--interactive-accent);
}

.info-container {
    text-align: center;
}

.info-container .user-avatar {
    margin-top: 20px;
    border-radius: 50%;
    width: 50%;
}